rootpanel
{
	background-color: black;
    width: 1920px;
    height: 100%;
    justify-content: center;
    z-index: -10000;
}

GameManager
{
	background-color: white;
    width: 1920px;
    height: 100%;
    justify-content: center;
    z-index: -10000;
}


.boyfriend{
    
	//background-image: url("/sprites/boyfriend/idle_01.png");
    background-size: 401px;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: -20;
    overflow: visible;
}

.arrow{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 162px;
    height: 162px;
    position: absolute;
    z-index: -18;
    overflow: visible;
    transition: top 0.01666s linear;
    transition: left 0.01666s linear;
}

.receptor{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 162px;
    height: 162px;
    position: absolute;
    z-index: -19;
    overflow: visible;
}