rootpanel
{
	background-color: black;
    width: 1920px;
    height: 100%;
    justify-content: center;
}

GameManager
{
	background-color: white;
    width: 1920px;
    height: 100%;
    justify-content: center;
}

.boyfriend{
    
	//background-image: url("/sprites/boyfriend/idle_01.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
}